<!DOCTYPE html>
<html>
	<head>
		<title>Node.js + Express test</title>
		
		<!-- OpenLayers 3 src and css -files -->
		<script src="http://openlayers.org/en/v3.11.1/build/ol.js"></script>
    	<link rel="stylesheet" href="http://openlayers.org/en/v3.11.1/css/ol.css" type="text/css">
    	
    	<!-- Application dependent files -->
    	<script type="text/javascript" src="/javascripts/map.js"></script>
    	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
	</head>
	
	<body onload="initMap()">
		
		<div id="map"></div>
		
	</body>
</html>
