<!DOCTYPE html>
<html>

<head>
    <title>Mushrooming!</title>

    <!-- Sets favicon -->
    <link rel="icon" href="images/favicon.ico">

    <!-- Fits the content better on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- OpenLayers 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.18.2/ol-debug.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.18.2/ol.css">

    <!-- Mapbox for routing -->
    <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
    <link rel="stylesheet" href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css'>

    <!-- jQuery -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Bootstrap + Awesome Fonts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- Slick carousel plugin -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

    <!-- Application dependent files + WKX & Sidebar plugins -->
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/geolocation.js"></script>
    <script src="/javascripts/routing.js"></script>
    <script src="/javascripts/query_functions.js"></script>
    <script src="/javascripts/jquery-sidebar.js"></script>

    <!-- Date formatting -->
    <script src="/javascripts/date.format.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/ol_popup.css">
    <link rel="stylesheet" href="/stylesheets/ol3-sidebar.css">
    <link rel="stylesheet" href="/stylesheets/onoffswitch.css">

</head>

<!-- Every time when a page is opened these functions are initialized -->

<body onload="initMap(); autoLocationClicked(document.getElementById('myonoffswitch'));"> <!-- routing(); -->

    <div id="sidebar" class="sidebar collapsed">

        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#find_mushrooms" role="tab"><i class="fa fa-database"></i></a></li>
                <li><a href="#your_findings" role="tab"><i class="fa fa-pencil-square-o "></i></a></li>
                <li><a href="#space_time_analysis" role="tab"><i class="fa fa-rocket"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#sign_out" role="tab"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">

            <!-- sidebar content home -->
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    <p>Mushrooming</p>
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br>
                <p><b>Welcome to the mushrooming application!</b></p>
                <br>
                <p>The main functionalities in this application are:</p>
                <ul>
                    <li>Viewing different mushroom findings across Sweden</li>
                    <li>Finding the closest mushroom picking places of desired mushrooms and routes to these</li>
                    <li>Making light spacetime analysis of these findings</li>
                    <li>Possibility to insert, update and delete own mushroom findings</li>
                </ul>
                <hr>

                <!--
                <br>
                <p><b>Routing functionality (only works in the nature areas):</b></p>
                <br>
                <button id="start">start location</button>
                <br>
                <button id="dest">destination location</button>
                <br>
                <button id="navigate">calculate route</button>
                <br>
                <button id="clear">clear route</button>
		-->

                <br>
		<p><b>Turn on/off your geolocation</b></p><br>		
		<div class="onoffswitch">
                    <input checked="false" type="checkbox" onclick="autoLocationClicked(this);" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>

            <!-- sidebar content find mushrooms -->
            <div class="sidebar-pane" id="find_mushrooms">
                <h1 class="sidebar-header">
                    Find mushrooms with tools
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br><p>Find mushroom tab includes functionalities that can be used as tools to find the closest desired mushroom and shortest routes to these.</p><br>


                <p><b>Working function</b></p><br>
                <button class="btn btn-default" onclick="sidebar.open('function1')">Closest mushroom</button>

                <!--getAllDistinctMushroomFindingsSpecies() -->
                <br>
                <br>

                <p><b>Function still to be implemented</b></p>
                <br>
                <button class="btn btn-default" onclick="sidebar.open('function2')">Shortest path to the closest mushroom</button>
            </div>

            <!-- sidebar content you findings -->
            <div class="sidebar-pane" id="your_findings">
                <h1 class="sidebar-header">
                    Mushroom findings
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br>
                <p>Click the following link for adding, updating and deleting you own mushroom findings: </p>
                <br>
                <a href="/handleMushrooms" class="btn btn-default" role="button">Handle your mushroom findings</a>

            </div>

            <!-- sidebar content you findings -->
            <div class="sidebar-pane" id="space_time_analysis">
                <h1 class="sidebar-header">
                    Space-time analysis
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br>
                <p>Make some awesome space-time analysis with polygons...</p>
                <br>
                <a href="/spaceTimeAnalysis" class="btn btn-default" role="button">Space-Time Analysis</a>

            </div>

            <!-- sidebar content sign out -->
            <div class="sidebar-pane" id="sign_out">
                <h1 class="sidebar-header">
                    Sign out
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br>
                <p><b>Do you want to log out?</b></p>
                <br>
                <button type="button" class="btn btn-warning" onclick="logoutUser()">SIGN OUT</button>
                <br>

            </div>

            <!-- sidebar content for the mushroom info -->
            <div class="sidebar-pane" id="info">
                <h1 class="sidebar-header">
                    Mushroom info
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br>

                <!-- Carousell is added as a div with no content -->
                <div class="mushroomcontainer">
                    <div class="mushroomcarousel"></div>
                    <div class="mushroomcontent"></div>
                </div>

            </div>

            <!-- sidebar content for function 1 -->
            <div class="sidebar-pane" id="function1">
                <h1 class="sidebar-header">
                    Closest mushroom
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <br><p>This application functionality will find the closest desired mushroom specie based on your location. In order to use this functionality you have to assign the desired mushroom specie that you are looking for. When you start typing the mushroom name the textbox will guide you to find the correct one.</p><br>

                <div class="ui-widget">
                    <label for="tags">Mushroom species: </label>
                    <input type="text" id="tags">
                </div>

                <br>
                <br>

                <button type="button" class="btn btn-info" onclick="getClosestDesiredMushroom(false,document.getElementById('tags').value)">SEARCH</button>
                <button type="button" class="btn btn-warning" onclick="sidebar.close('find_mushrooms');">ABORT</button>
            </div>

            <!-- sidebar content for function 2 -->
            <div class="sidebar-pane" id="function2">
                <h1 class="sidebar-header">
		    Shortest path to the closest mushroom
		    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
		</h1>

                <br><p>This application functionality will find the closest desired mushroom specie based on your location and calculates the shorthest route there using walkable routes. In order to use this functionality you have to assign the desired mushroom specie that you are looking for. When you start typing the mushroom name the textbox will quide you to find the correct one.</p><br>

                <div class="ui-widget">
                    <label for="tags2">Mushroom species: </label>
                    <input type="text" id="tags2">
                </div>
                <br>
                <br>

                <!-- Hardcoded location FIX ME -->
                <button type="button" class="btn btn-info" onclick="getClosestDesiredMushroom(true,document.getElementById('tags2').value)">SEARCH</button>
                <button type="button" class="btn btn-warning" onclick="sidebar.close('find_mushrooms');">ABORT</button>
            </div>

        </div>

    </div>

    <!-- Map container -->
    <div id="map" class="sidebar-map"></div>

    <!-- OpenLayers 3 Popup -->
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

</body>

</html>
