body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100%;
}

.labelSpecies {
  display: default;
  width: 300px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

